Xisnovee 4/flows (4) 2.json
[
    {
        "id": "21599026ec46c41c",
        "type": "tab",
        "label": "XisNove",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2aa98104232b0ae1",
        "type": "cloudantplus out",
        "z": "21599026ec46c41c",
        "name": "xisnoveteste",
        "cloudant": "eb3a4dc381cda0f5",
        "database": "xisnoveteste",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "826e1bb0b57ab920",
                "1bf1e5a74764eebb"
            ]
        ]
    },
    {
        "id": "1bf1e5a74764eebb",
        "type": "debug",
        "z": "21599026ec46c41c",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "826e1bb0b57ab920",
        "type": "http response",
        "z": "21599026ec46c41c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 120,
        "wires": []
    },
    {
        "id": "3ca88e4700c3d9a3",
        "type": "http in",
        "z": "21599026ec46c41c",
        "name": "getAll",
        "url": "/ocorrencia/getAll2",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "a5f021e9955d060a"
            ]
        ]
    },
    {
        "id": "a5f021e9955d060a",
        "type": "cloudantplus in",
        "z": "21599026ec46c41c",
        "name": "xisnoveteste",
        "cloudant": "eb3a4dc381cda0f5",
        "database": "xisnoveteste",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 390,
        "y": 280,
        "wires": [
            [
                "ce33b65594598c21",
                "206087366f63f339"
            ]
        ]
    },
    {
        "id": "206087366f63f339",
        "type": "debug",
        "z": "21599026ec46c41c",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 360,
        "wires": []
    },
    {
        "id": "ce33b65594598c21",
        "type": "http response",
        "z": "21599026ec46c41c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 280,
        "wires": []
    },
    {
        "id": "40be21155484e6cd",
        "type": "http in",
        "z": "21599026ec46c41c",
        "name": "deleteAll",
        "url": "/ocorrencia/deleteAll",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 480,
        "wires": [
            [
                "bd62dda38e0ad512"
            ]
        ]
    },
    {
        "id": "bd62dda38e0ad512",
        "type": "cloudantplus in",
        "z": "21599026ec46c41c",
        "name": "xisnoveteste",
        "cloudant": "eb3a4dc381cda0f5",
        "database": "xisnoveteste",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 270,
        "y": 480,
        "wires": [
            [
                "0bfac6fa61628bbf",
                "172e05962d0609e4",
                "571e3d471a4ff15a"
            ]
        ]
    },
    {
        "id": "172e05962d0609e4",
        "type": "debug",
        "z": "21599026ec46c41c",
        "name": "debug 25",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 640,
        "wires": []
    },
    {
        "id": "0bfac6fa61628bbf",
        "type": "http response",
        "z": "21599026ec46c41c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 470,
        "y": 560,
        "wires": []
    },
    {
        "id": "8242baf95624f8ae",
        "type": "cloudantplus out",
        "z": "21599026ec46c41c",
        "name": "xisnoveteste",
        "cloudant": "eb3a4dc381cda0f5",
        "database": "xisnoveteste",
        "service": "_ext_",
        "payonly": true,
        "operation": "delete",
        "x": 710,
        "y": 480,
        "wires": [
            [
                "cee0f6ed3b64bf21",
                "a2fa68e156d0a614"
            ]
        ]
    },
    {
        "id": "cee0f6ed3b64bf21",
        "type": "http response",
        "z": "21599026ec46c41c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 870,
        "y": 480,
        "wires": []
    },
    {
        "id": "a2fa68e156d0a614",
        "type": "debug",
        "z": "21599026ec46c41c",
        "name": "debug 26",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 560,
        "wires": []
    },
    {
        "id": "571e3d471a4ff15a",
        "type": "switch",
        "z": "21599026ec46c41c",
        "name": "",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 480,
        "wires": [
            [
                "ff53707fa99a3033"
            ],
            [
                "92dc091c1dd1ab8b"
            ]
        ]
    },
    {
        "id": "ff53707fa99a3033",
        "type": "split",
        "z": "21599026ec46c41c",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 570,
        "y": 440,
        "wires": [
            [
                "8242baf95624f8ae"
            ]
        ]
    },
    {
        "id": "473f4a3b69cd3649",
        "type": "http in",
        "z": "21599026ec46c41c",
        "name": "new",
        "url": "/ocorrencia/new",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "2aa98104232b0ae1"
            ]
        ]
    },
    {
        "id": "06a90c6b738e304d",
        "type": "inject",
        "z": "21599026ec46c41c",
        "name": "testNew",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"latitude\":-19.9228571,\"longitude\":-43.9951699,\"tipo\":\"Vandalismo\",\"credibilidade\":599}",
        "payloadType": "json",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "2aa98104232b0ae1"
            ]
        ]
    },
    {
        "id": "2d555eef71457bc1",
        "type": "inject",
        "z": "21599026ec46c41c",
        "name": "testDelete",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 80,
        "y": 560,
        "wires": [
            [
                "bd62dda38e0ad512"
            ]
        ]
    },
    {
        "id": "92dc091c1dd1ab8b",
        "type": "split",
        "z": "21599026ec46c41c",
        "name": "",
        "splt": "",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 570,
        "y": 520,
        "wires": [
            [
                "8242baf95624f8ae"
            ]
        ]
    },
    {
        "id": "bc6f36457c4ba9e2",
        "type": "http in",
        "z": "21599026ec46c41c",
        "name": "getAllTypes",
        "url": "/ocorrencia/getAllTypes",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1150,
        "y": 280,
        "wires": [
            [
                "614d7294ea75e173"
            ]
        ]
    },
    {
        "id": "614d7294ea75e173",
        "type": "cloudantplus in",
        "z": "21599026ec46c41c",
        "name": "xisnoveteste",
        "cloudant": "eb3a4dc381cda0f5",
        "database": "xisnovetestetypes",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 1430,
        "y": 280,
        "wires": [
            [
                "6b279524d555869a",
                "8a2ca17be6ad2987"
            ]
        ]
    },
    {
        "id": "8a2ca17be6ad2987",
        "type": "debug",
        "z": "21599026ec46c41c",
        "name": "debug 28",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1780,
        "y": 360,
        "wires": []
    },
    {
        "id": "6b279524d555869a",
        "type": "http response",
        "z": "21599026ec46c41c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1770,
        "y": 280,
        "wires": []
    },
    {
        "id": "01fad000fb84fdf8",
        "type": "http in",
        "z": "21599026ec46c41c",
        "name": "deleteAllTypes",
        "url": "/ocorrencia/deleteAllTypes",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1150,
        "y": 680,
        "wires": [
            [
                "b3ed52f391416137"
            ]
        ]
    },
    {
        "id": "b3ed52f391416137",
        "type": "cloudantplus in",
        "z": "21599026ec46c41c",
        "name": "xisnoveteste",
        "cloudant": "eb3a4dc381cda0f5",
        "database": "xisnovetestetypes",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 1330,
        "y": 680,
        "wires": [
            [
                "1f17b9d67e3b1e0a",
                "0a047ef914b55113",
                "93ab11e1c73e254a"
            ]
        ]
    },
    {
        "id": "0a047ef914b55113",
        "type": "debug",
        "z": "21599026ec46c41c",
        "name": "debug 29",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1540,
        "y": 840,
        "wires": []
    },
    {
        "id": "1f17b9d67e3b1e0a",
        "type": "http response",
        "z": "21599026ec46c41c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1530,
        "y": 760,
        "wires": []
    },
    {
        "id": "a302ba9fe3272c6b",
        "type": "cloudantplus out",
        "z": "21599026ec46c41c",
        "name": "xisnoveteste",
        "cloudant": "eb3a4dc381cda0f5",
        "database": "xisnovetestetypes",
        "service": "_ext_",
        "payonly": true,
        "operation": "delete",
        "x": 1770,
        "y": 680,
        "wires": [
            [
                "c011723cbb19d3e2",
                "ff110b095347e3a0"
            ]
        ]
    },
    {
        "id": "c011723cbb19d3e2",
        "type": "http response",
        "z": "21599026ec46c41c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1930,
        "y": 680,
        "wires": []
    },
    {
        "id": "ff110b095347e3a0",
        "type": "debug",
        "z": "21599026ec46c41c",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1940,
        "y": 760,
        "wires": []
    },
    {
        "id": "93ab11e1c73e254a",
        "type": "switch",
        "z": "21599026ec46c41c",
        "name": "",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1510,
        "y": 680,
        "wires": [
            [
                "ac5d5caa4c7fd1c1"
            ],
            [
                "38a306b69f605364"
            ]
        ]
    },
    {
        "id": "ac5d5caa4c7fd1c1",
        "type": "split",
        "z": "21599026ec46c41c",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1630,
        "y": 640,
        "wires": [
            [
                "a302ba9fe3272c6b"
            ]
        ]
    },
    {
        "id": "792f0205edad1250",
        "type": "inject",
        "z": "21599026ec46c41c",
        "name": "testDelete",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1140,
        "y": 740,
        "wires": [
            [
                "b3ed52f391416137"
            ]
        ]
    },
    {
        "id": "38a306b69f605364",
        "type": "split",
        "z": "21599026ec46c41c",
        "name": "",
        "splt": "",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1630,
        "y": 720,
        "wires": [
            [
                "a302ba9fe3272c6b"
            ]
        ]
    },
    {
        "id": "21cbace443d7d8da",
        "type": "cloudantplus out",
        "z": "21599026ec46c41c",
        "name": "xisnoveteste",
        "cloudant": "eb3a4dc381cda0f5",
        "database": "xisnovetestetypes",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 1450,
        "y": 120,
        "wires": [
            [
                "e8bbc2d860a4adbb",
                "471ef90838f69774"
            ]
        ]
    },
    {
        "id": "471ef90838f69774",
        "type": "debug",
        "z": "21599026ec46c41c",
        "name": "debug 27",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1790,
        "y": 200,
        "wires": []
    },
    {
        "id": "e8bbc2d860a4adbb",
        "type": "http response",
        "z": "21599026ec46c41c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1770,
        "y": 120,
        "wires": []
    },
    {
        "id": "c16a1bcf87340643",
        "type": "http in",
        "z": "21599026ec46c41c",
        "name": "newType",
        "url": "/ocorrencia/newType",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 1140,
        "y": 120,
        "wires": [
            [
                "21cbace443d7d8da"
            ]
        ]
    },
    {
        "id": "344ece6fa8f7f5ce",
        "type": "inject",
        "z": "21599026ec46c41c",
        "name": "testNew",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"descricao\":\"descricao\",\"ïmage\":\"ïmage\"}",
        "payloadType": "json",
        "x": 1150,
        "y": 200,
        "wires": [
            [
                "21cbace443d7d8da"
            ]
        ]
    },
    {
        "id": "326e785ec2d25aea",
        "type": "inject",
        "z": "21599026ec46c41c",
        "name": "GetAllTypesButton",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1170,
        "y": 360,
        "wires": [
            [
                "614d7294ea75e173"
            ]
        ]
    },
    {
        "id": "5354434e37b0a81f",
        "type": "inject",
        "z": "21599026ec46c41c",
        "name": "GetAllButton",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "a5f021e9955d060a"
            ]
        ]
    },
    {
        "id": "64c8f0af301a306a",
        "type": "cloudantplus out",
        "z": "21599026ec46c41c",
        "name": "xisnoveteste",
        "cloudant": "eb3a4dc381cda0f5",
        "database": "xisnovetestetypes",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 1530,
        "y": 460,
        "wires": [
            [
                "29b746def995fae3",
                "d9e3ee927420f142"
            ]
        ]
    },
    {
        "id": "d9e3ee927420f142",
        "type": "debug",
        "z": "21599026ec46c41c",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1770,
        "y": 540,
        "wires": []
    },
    {
        "id": "29b746def995fae3",
        "type": "http response",
        "z": "21599026ec46c41c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1750,
        "y": 460,
        "wires": []
    },
    {
        "id": "fb832c779a79c94a",
        "type": "http in",
        "z": "21599026ec46c41c",
        "name": "newTypes",
        "url": "/ocorrencia/newTypes",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 1120,
        "y": 460,
        "wires": [
            [
                "091f41584c8a3832"
            ]
        ]
    },
    {
        "id": "e4c72b0b090efd87",
        "type": "inject",
        "z": "21599026ec46c41c",
        "name": "testNewTypes",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"descricao\":\"Assalto à mão armada\",\"icone\":\"person.fill\"},{\"descricao\":\"Assalto sem arma\",\"icone\":\"person.fill\"},{\"descricao\":\"Roubo de veículo\",\"icone\":\"car.fill\"},{\"descricao\":\"Roubo a residência\",\"icone\":\"house.fill\"},{\"descricao\":\"Roubo a estabelecimento comercial\",\"icone\":\"cart.fill\"},{\"descricao\":\"Furto de objetos pessoais\",\"icone\":\"bag.fill\"},{\"descricao\":\"Estupro\",\"icone\":\"shield.fill\"},{\"descricao\":\"Tentativa de estupro\",\"icone\":\"shield.slash.fill\"},{\"descricao\":\"Agressão física\",\"icone\":\"figure.boxing\"},{\"descricao\":\"Ameaças verbais\",\"icone\":\"exclamationmark.bubble.fill\"},{\"descricao\":\"Vandalismo\",\"icone\":\"paintbrush.fill\"},{\"descricao\":\"Tráfico de drogas\",\"icone\":\"bandage.fill\"},{\"descricao\":\"Presença de gangues\",\"icone\":\"figure.hunting\"},{\"descricao\":\"Roubos em transporte público\",\"icone\":\"tram.fill\"},{\"descricao\":\"Atos de violência doméstica\",\"icone\":\"house.fill\"},{\"descricao\":\"Falta de iluminação pública\",\"icone\":\"lightbulb.fill\"},{\"descricao\":\"Ruas em más condições\",\"icone\":\"pencil.line\"},{\"descricao\":\"Presença de pontos de venda de drogas\",\"icone\":\"flame.fill\"},{\"descricao\":\"Ataques de animais perigosos\",\"icone\":\"ant.fill\"},{\"descricao\":\"Acidentes de trânsito recorrentes\",\"icone\":\"car.fill\"},{\"descricao\":\"Práticas de direção perigosa\",\"icone\":\"car.fill\"}]",
        "payloadType": "json",
        "x": 1140,
        "y": 540,
        "wires": [
            [
                "091f41584c8a3832"
            ]
        ]
    },
    {
        "id": "091f41584c8a3832",
        "type": "switch",
        "z": "21599026ec46c41c",
        "name": "",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1250,
        "y": 500,
        "wires": [
            [
                "bb7a0dfb15bb3841"
            ],
            [
                "00c0e32ab7f1e056"
            ]
        ]
    },
    {
        "id": "bb7a0dfb15bb3841",
        "type": "split",
        "z": "21599026ec46c41c",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1370,
        "y": 460,
        "wires": [
            [
                "64c8f0af301a306a"
            ]
        ]
    },
    {
        "id": "00c0e32ab7f1e056",
        "type": "split",
        "z": "21599026ec46c41c",
        "name": "",
        "splt": "",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1370,
        "y": 540,
        "wires": [
            [
                "64c8f0af301a306a"
            ]
        ]
    },
    {
        "id": "b22c3d38601493bb",
        "type": "inject",
        "z": "21599026ec46c41c",
        "name": "updateButton",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"_id\":\"cf1750f245fb1e590c312ba98f5335b6\",\"_rev\":\"2-bb7a671a2c4cb1025561505e88c534a2\",\"teste\":\"teste\",\"testeedicao\":\"matheus editou\"}",
        "payloadType": "json",
        "x": 130,
        "y": 820,
        "wires": [
            [
                "3dbdc88c71d70cc6"
            ]
        ]
    },
    {
        "id": "4775181c3fbc551d",
        "type": "http in",
        "z": "21599026ec46c41c",
        "name": "update",
        "url": "/ocorrencia/update",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 720,
        "wires": [
            [
                "3dbdc88c71d70cc6"
            ]
        ]
    },
    {
        "id": "3dbdc88c71d70cc6",
        "type": "cloudantplus out",
        "z": "21599026ec46c41c",
        "name": "xisnoveteste",
        "cloudant": "eb3a4dc381cda0f5",
        "database": "xisnoveteste",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 410,
        "y": 760,
        "wires": [
            [
                "af130d0231515dc4",
                "bf1a334ed0f9141a"
            ]
        ]
    },
    {
        "id": "af130d0231515dc4",
        "type": "http response",
        "z": "21599026ec46c41c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 720,
        "wires": []
    },
    {
        "id": "bf1a334ed0f9141a",
        "type": "debug",
        "z": "21599026ec46c41c",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 800,
        "wires": []
    },
    {
        "id": "eb3a4dc381cda0f5",
        "type": "cloudantplus",
        "host": "https://apikey-v2-1oyyl44w0ka2aw9z3fvb53wag6o79wi8boxf0xsbnpr:6c078caec78a17bbd953a16fff300224@bbd3c0ee-d0c8-455b-bbd3-8d6d996c2c0a-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "xisnoveteste",
        "useapikey": true
    }
]